@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
}

body {
  background-color: #db3c36;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

.container {
  padding: 3%;
  text-align: center;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: calc(100% - 10px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

#find {
  padding: 8px 15px;
  border-radius: 5px;
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#find:hover {
  background-color: #000;
  color: #fff;
}

#pokemon {
  margin-top: 20px;
}

h1 {
  margin-top: 10px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#mainDiv {
  padding: 2rem;
  border: 2px solid black;
  background-color: rgb(255,255,255);
  color: black;
}